@import '../all.css';
  
  div{
    position:relative;
    width:100%;
    height:100%;
    background-color: pink;
  }
  
  /* margin负距 */
  .title{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
  }