@import '../all.css';
  
  div{
    position:relative;
    width:100%;
    height:100%;
    background-color: pink;
  }

  /* margin：auto */
  .title{
    position: absolute;
    text-align: center;
    width: 300px;
    /* 元素自身高度 */
    height: 42px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }