* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 700px;
}

.header,
.footer {
    border: 1px solid #333;
    background: #aaa;
    text-align: center;
}

.left,
.main,
.right {
    float: left;
    min-height: 130px;
}

.left {
    margin-left: -100%;
    width: 200px;
    background: gold;
}

.right {
    margin-left: -220px;
    width: 220px;
    background: greenyellow;
}

.main {
    width: 100%;
}

.main-inner {
    margin-left: 200px;
    margin-right: 220px;
    min-height: 130px;
    background: olivedrab;
    word-break: break-all;
}

.footer {
    clear: both;
}