*{
    margin: 0;
    padding: 0;
}

HTML,body{
    width: 100%;
    height: 100%;
}

/* 块布局 ― 为了呈现文档而设计出来的布局模式。
行内布局 ― 为了呈现文本而设计出来的布局模式。
表格布局 ― 为了用格子呈现 2D 数据而设计出来的布局模式。
定位布局 ― 为了非常直接地定位元素而设计出来的布局模式，定位元素基本与其他元素毫无关系。
弹性盒子布局 ― 为了让容器能够改变子项的宽、高以及顺序，以最合适的方式填充可用空间的布局模式。
网格布局 -  */