
.box {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    width: 400px;
    background-color: yellow;
}
.content {
    flex: 0 0 25%;
    background-color: blue;
    border: 2px solid red;
    /* border-box：border和padding包括在width内；center-box：border和padding不包括在width内 */
    box-sizing: border-box;
}